<h1>All the Restaurants</h1>

<% @restaurants.each do |restaurant| %>
  <div class="card my-2 p-3">
    <div class="d-inline-flex justify-content-between border-bottom">
      <h5><%=restaurant.name%></h5>
      <p><%=restaurant.category%></p>
    </div>
    <div class="d-inline-flex justify-content-between align-items-end">
      <div>
        <p class="mt-1 mb-0">Phone: <%=restaurant.phone_number%></p>
        <p class="mt-1 mb-0">Address: <%=restaurant.address%></p>
      </div>
      <%= link_to restaurant_path(restaurant) do %>
        <button class="btn btn-primary"><i class="fas fa-info-circle"></i></button>
      <% end %>
    </div>

  </div>
<% end %>

<%= link_to new_restaurant_path do %>
  <button class="btn btn-info"><i class="fas fa-plus"></i></button>
<% end %>

