<h1>New Restaurant</h1>

<%= simple_form_for(@restaurant) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category, collection: ['chinese', 'italian', 'japanese', 'french', 'belgian']%>
  <%= f.submit "add a restaurant", class: "btn btn-success" %>
<% end %>

<%= link_to restaurants_path do %>
  <button class="btn btn-primary my-3"><i class="fas fa-arrow-left"></i></button>
<% end %>
