<h1><%=@restaurant.name%></h1>
<div class="d-flex justify-content-between mb-3">
  <p><%=@restaurant.category%></p>
</div>
<div class="mb-3 border-bottom">
  <p class="mt-1 mb-0">Phone: <%=@restaurant.phone_number%></p>
  <p class="mt-1 mb-3">Address: <%=@restaurant.address%></p>
</div>
<h5>Reviews</h5>

<% @reviews.each do |review| %>
  <div class="d-flex justify-content-between">
    <p><%=review.content%></p>
    <div>
      <ul class="list-inline">
        <%review.rating.times do%>
        <li class="list-inline-item"><i class="fas fa-star"></i></li>
        <%end%>
      </ul>
    </div>
  </div>
<% end %>

<div class="d-flex pt-3 border-top">
  <%= link_to restaurants_path do %>
    <button class="btn btn-primary mr-3"><i class="fas fa-arrow-left"></i></button>
  <% end %>
  <%= link_to new_restaurant_review_path(@restaurant) do %>
    <button class="btn btn-info"><i class="fas fa-plus"></i></button>
  <% end %>
</div>



